# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Virtual environment folder
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Media and static files (if generated dynamically)
media/
staticfiles/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env