{% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<div class="gallery-container">
    <input type="radio" id="slide1" name="slides" checked>
    <input type="radio" id="slide2" name="slides">
    <input type="radio" id="slide3" name="slides">

    <div class="slides">
        <div class="slide"><img src="" alt="Image 1"></div>
        <div class="slide"><img src="image2.jpg" alt="Image 2"></div>
        <div class="slide"><img src="image3.jpg" alt="Image 3"></div>
    </div>

    <div class="navigation">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
    </div>
</div>