{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
</head>
<body>
    <div class="night-sky" id="night-sky"></div>
    <script src="{% static 'js/stars.js' %}"></script>
    <div class="primary-container">
        {% include 'partials/navbar.html' %}
        <div class="content-container">
            <div class="panel glass-effect">
                
            </div>
            <div class="panel glass-effect">
                
            </div>
        </div>
    </div>
</body>
</html>